@import '../variables.css';

.sectionWrapper ul {
	list-style: none;
}

.searchWrapper {
	max-width: 480px;
	margin-bottom: 1rem;
}

.treeWrapper {
	height: 320px;
	overflow-y: scroll;
	/* This helps preserve the focus outline */
	padding: 1px;
	margin: 0;
	border: none;
}

.firstLevel {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.secondLevel,
.thirdLevel {
	padding-left: 0;
}

button.treeNode {
	background-color: inherit;
	border: none;
	font-size: var( --font-body );
	color: var( --color-text-primary );
	width: 100%;
	text-align: left;
	padding: 0.75rem 0.5rem;
	display: flex;
	align-items: center;
}

.secondLevel .treeNode {
	padding-left: 2.5rem;
}

.thirdLevel .treeNode {
	padding-left: 5rem;
}

button.treeNode:hover {
	background-color: var( --color-neutral-light );
}

.feature {
	display: block;
}

button.selectedFeature,
button.selectedFeature:hover {
	background-color: var( --color-neutral );
}

.searchSubstringMatch {
	font-weight: 800;
	text-decoration: underline;
}

.repositoriesList,
.noResultsMessage {
	color: var( --color-text-light );
	font-weight: 300;
}

.inlineIcon {
	margin-right: 0.25rem;
	height: 1rem;
	width: 1rem;
}

.selectedFeatureName {
	font-size: var( --font-header );
	font-weight: 500;
	margin-right: 0.5rem;
}

button.clearButton {
	color: var( --color-primary );
	background-color: transparent;
	border: none;
	padding: 0.25rem 0 0 0;
}

button.clearButton:hover,
button.clearButton:active {
	color: var( --color-primary-dark );
}

.selectedFeatureRepositories,
.selectedFeatureKeywords {
	margin-top: 1.25rem;
	overflow-x: hidden;
	/* This is required to prevent an unnecessary scrollbar. 
	When overflow-x is hidden, overflow-y can get converted to auto unless set. */
	overflow-y: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.breadcrumbIcon {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	height: 1rem;
	width: 1rem;
	transform: translateY( 0.21875rem );
}

.selectedFeatureDescription {
	font-size: var( --font-body );
	color: var( --color-text-light );
	margin: 0.5rem 0 0 0;
}

.bottomPanel {
	margin-top: 1rem;
	border-top: solid 1px var( --color-border );
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	min-height: 3rem;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.bottomPanelContent {
	min-width: 0;
	max-width: 100%;
}

.continueButtonWrapper {
	margin-left: 1.5rem;
}

.tooltip {
	max-width: 20rem;
}

.selectedFeatureRepositoriesTitle,
.selectedFeatureKeywordTitle {
	font-size: var( --font-body );
	font-weight: 500;
	margin: 0 0 0.375rem 0;
}

.keywordsWrapper {
	display: flex;
	flex-wrap: wrap;
}

.noResults {
	color: var( --color-text-primary );
	font-size: var( --font-body-small );
}

@media only screen and ( max-width: 600px ) {
	.bottomPanel {
		align-items: flex-start;
		flex-direction: column;
	}

	.continueButtonWrapper {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		margin-left: 0;
		margin-top: 2rem;
	}

	.tooltip {
		max-width: 50vw;
	}
}

@media only screen and ( min-width: 600px ) {
	.formErrorWrapper {
		min-height: 3rem;
		display: flex;
		align-items: flex-start;
	}
}
