.appHeader {
	min-height: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid gray;
	margin-bottom: 3rem;
}

.appHeader h1 {
	font-size: 2rem;
}

.content {
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}
