@import '../variables.css';

.inlineIcon {
	height: 1.5rem;
	width: 1.5rem;
}

.searchWrapper {
	margin: 0.5rem 0;
}

.statusFilterWrapper {
	width: 16rem;
}

.filterSortBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.625rem;
}

.filtersWrapper {
	display: flex;
	flex-direction: row;
	column-gap: 0.625rem;
	justify-content: flex-start;
	align-items: center;
}

button.dropdownButton {
	padding: 0.375rem 0.5625rem 0.375rem 0.5625rem;
}

.repoPopover {
	z-index: 2;
	background-color: var( --color-white );
	border: 1px solid var( --color-border );
	box-shadow: 0px 2px 3px -1px rgba( 0, 0, 0, 0.1 );
	padding: 1rem;
	overflow: auto;
	width: 20rem;
	height: auto;
	min-height: 16rem;
	min-width: 12rem;
	resize: both;
	display: flex;
	flex-direction: column;
}

.repoPopoverHeader {
	flex-shrink: 0;
	margin-bottom: 1rem;
}

.repoPopoverBody {
	flex-grow: 1;
	overflow: auto;
}

.repoPopoverManualModeBody {
	/* This height tends to cut a filter in half, which is good for showing scroll ability */
	height: 22rem;
}

.repoPopoverFooter {
	flex-shrink: 0;
	padding: 1rem 0 0 0;
	margin: 1rem 0 0 0;
	border-top: 1px solid var( --color-border );
}

.repoFilterButtonWrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	column-gap: 0.75rem;
}

.repoFilterModeControl {
	margin: 0 auto;
}

.repoFilterModeDescription {
	margin: 0 0 0.5rem 0;
}

.repoFilterError {
	color: var( --color-error );
	font-style: italic;
}

.repoFilterIllustration {
	display: block;
	width: 190px;
	height: auto;
	margin: 1rem auto 1rem auto;
}

.repoFilterOrgList {
	list-style: none;
	padding-left: 0;
	font-weight: 300;
	margin-top: 0;
}

.repoFilterOrgList > li {
	margin-top: 0.75rem;
	padding-top: 0.75rem;
}

.repoFilterRepoList {
	list-style: none;
	padding-left: 1.875rem;
	font-weight: 400;
	margin: 0.75rem 0;
}

.repoFilterCheckbox {
	margin-right: 0.625rem;
	height: 1.25rem;
	width: 1.25rem;
}

.repoFilterCheckboxWrapper {
	padding: 0.5rem 0;
	display: flex;
	align-items: center;
	width: max-content;
}

.sortOption {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sortCheckIconWrapper {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
}

.sortCheckIcon {
	height: 1.5rem;
	width: 1.5rem;
}

.sortCheckIcon path {
	fill: var( --color-primary );
}

.sortOptionLabelWrapper {
	padding-right: 0.5rem;
}

@media only screen and ( max-width: 600px ) {
	.filterSortBar {
		flex-direction: column;
		row-gap: 0.625rem;
		align-items: flex-start;
	}

	.filtersWrapper {
		flex-direction: column;
		row-gap: 0.625rem;
		align-items: flex-start;
	}
}
