.wrapper {
	position: relative;
	display: flex;
}

/* Overriding base styles with more specificity requires including input element */
input.search {
	padding: 0.75rem 2rem 0.75rem 0.5rem;
}

.button {
	position: absolute;
	height: 100%;
	background: transparent;
	border: none;
	right: 0;
	top: 0;
	padding: 0 0.5rem;
	border: 2px solid transparent;
}

.button:hover,
.button:focus {
	border: 2px solid var( --color-primary );
	outline: none;
}

.searchIcon {
	height: 1.25rem;
	width: 1.25rem;
}
