@import '../../variables.css';

.wrapper {
	position: relative;
	display: flex;
}

/* Overriding base styles with more specificity requires including input element */
input[type='text'].search {
	padding: 0.75rem 2rem 0.75rem 0.5rem;
}

button.button {
	position: absolute;
	background: transparent;
	border: none;
	/* Account for the input borders */
	right: 1px;
	top: 1px;
	bottom: 1px;
	padding: 0 0.5rem;
}

button.button:hover {
	background-color: var( --color-neutral-extra-light );
}

button.button:active {
	background-color: var( --color-neutral-light );
}

.searchIcon {
	height: 1.25rem;
	width: 1.25rem;
}
