.wrapper {
	position: relative;
}

/* Overriding base styles with more specificity requires including input element */
input.search {
	font-size: 1rem;
	padding: 0.75rem 2rem 0.75rem 0.5rem;
}

.icon {
	position: absolute;
	right: 0;
	top: 0;
	height: 1.5rem;
	width: 1.5rem;
	margin-right: 0.5rem;
	margin-top: 0.75rem;
}
