@import '../../variables.css';

.errorMessage {
	font-size: var( --font-body-small );
	color: var( --color-error );
	display: flex;
	align-items: center;
}

.errorIcon {
	height: 0.875rem;
	width: 0.875rem;
	margin-right: 0.25rem;
}
