.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.message {
	font-size: var( --font-header );
	font-weight: 500;
	display: block;
	text-align: center;
}
