@import '../../variables.css';

.pill {
	font-size: var( --font-body-small );
	color: var( --color-text-light );
	font-weight: 400;
	border-radius: 61px;
	padding: 0.34375rem 0.625rem;
	margin: 0.5rem 0.5rem 0 0;
}
