@import '../../variables.css';

.pill {
	font-size: var( --font-body-small );
	color: var( --color-text-light );
	font-weight: 400;
	border-radius: 61px;
	padding: 0.125rem 0.625rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: fit-content;
}
