@import '../variables.css';

.taskList {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}

.taskListItem:nth-child( n + 2 ) {
	margin-top: 1rem;
}

a.taskLink {
	text-decoration: none;
}

.taskCard {
	border: 1px solid var( --color-border );
	background-color: var( --color-shaded-background-light );
	border-radius: 6px;
	padding: 0.625rem;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 0.625rem;
}

[data-completed-task='true'].taskCard {
	background-color: var( --color-success-light );
	border-color: var( --color-success );
}

.taskIcon,
.checkIcon,
.linkIcon {
	width: 1.5rem;
	height: 1.5rem;
}

.checkIcon path {
	fill: var( --color-white );
}

.taskIconWrapper {
	width: 1.75rem;
	height: 1.75rem;
	border-radius: 28px;
	background-color: var( --color-neutral );
	display: flex;
	justify-content: center;
	align-items: center;
}

[data-completed-task='true'] .taskIconWrapper {
	background-color: var( --color-success );
}

.taskContent {
	flex: 1 0 0;
}

.taskTitle {
	font-size: var( --font-header );
	font-weight: 500;
	color: var( --color-text );
	overflow-wrap: break-word;
}

.taskDetails {
	margin: 0.5rem 0 0.5rem 0;
	color: var( --color-text );
}

button.taskButton {
	margin-top: 0.625rem;
	padding: 0.375rem 0.75rem;
}

.badTask {
	font-style: italic;
	color: var( --color-error );
	font-size: var( --font-header );
}

.moreInfoSection {
	margin-top: 1.5rem;
	border-top: 1px solid var( --color-border );
}

.moreInfoHeader {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-size: var( --font-header );
	font-weight: 500;
}

.moreInfoColumns {
	display: flex;
	flex-direction: row;
}

.moreInfoColumn {
	min-width: 8rem;
	overflow-wrap: break-word;
}

.moreInfoColumn:nth-child( n + 2 ) {
	margin-left: 4rem;
	margin-top: 0;
}

.moreInfoColumn ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.moreInfoColumn p {
	margin-top: 0;
	margin-bottom: 0;
}

.moreInfoListItem:nth-child( n + 2 ) {
	margin-top: 0.25rem;
}

.moreInfoColumn a,
.moreInfoColumn p {
	font-size: var( --font-body-small );
	font-weight: 300;
}

.moreInfoColumn a {
	color: var( --color-primary );
	text-decoration: none;
}

.moreInfoColumn a:hover,
.moreInfoColumn a:active {
	color: var( --color-primary );
	text-decoration: underline;
}

.moreInfoColumnHeader {
	font-size: var( --font-body );
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 0.25rem;
}

.moreInfoColumnSubheader {
	font-size: var( --font-body-small );
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0.25rem;
}

.moreInfoColumnGroup:nth-child( n + 2 ) {
	margin-top: 1rem;
}

@media only screen and ( max-width: 600px ) {
	.moreInfoColumns {
		flex-direction: column;
	}

	.moreInfoColumn:nth-child( n + 2 ) {
		margin-top: 3rem;
		margin-left: 0;
	}

	.taskListItem {
		flex-direction: column;
	}

	.buttonContent {
		margin-top: 1rem;
		margin-left: 2rem;
	}
}
