@import '../variables.css';

.repoPopoverWrapper {
	z-index: 2;
	background-color: var( --color-white );
	max-width: 30rem;
	border: 1px solid var( --color-border );
	box-shadow: 0px 2px 3px -1px rgba( 0, 0, 0, 0.1 );
	padding: 1rem;
}
