@import './variables.css';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu',
		'Cantarell', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var( --color-text-primary );
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var( --color-text-dark );
}

input[type='text'],
input[type='search'],
input[type='email'] {
	font-size: 1rem;
	padding: 0.75rem 0.5rem;
	width: 100%;
	border-radius: 4px;
	background-color: var( --color-white );
	border: 2px solid var( --color-border );
	box-sizing: border-box;
}

input[type='text']:focus,
input[type='search']:focus,
input[type='email']:focus {
	background-color: var( --color-white );
	border: 2px solid var( --color-primary );
	outline: none;
}

input[type='radio'],
input[type='checkbox'] {
	accent-color: var( --color-primary );
	cursor: pointer;
}

label:has( input[type='radio'] ),
label:has( input[type='checkbox'] ) {
	cursor: pointer;
}

button {
	font-size: 1rem;
	border: none;
	padding: 0.75rem 1.5rem;
	cursor: pointer;
}

/*
These are generic enough that it feels like overkill to make a new component just for these button styles.
So, we'll enable a global class option. 
*/

button.primaryButton {
	color: var( --color-white );
	background-color: var( --color-primary );
	border-radius: 4px;
}

button.primaryButton:hover {
	background-color: var( --color-primary-dark );
}

button.primaryButton:active {
	background-color: var( --color-primary-extra-dark );
}

input code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.screenReaderOnly {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
