@import './variables.css';
@import '../node_modules/react-tooltip/dist/react-tooltip.css';

body {
	margin: 0;
}

.root {
	font-family: var( --font-san-serif );
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var( --color-text-primary );
	font-size: var( --font-body );
}

.root li,
.root p {
	line-height: initial;
}

.root h1,
.root h2,
.root h3,
.root h4,
.root h5,
.root h6 {
	color: var( --color-text-primary );
	font-weight: 700;
}

.root input[type='text'],
.root input[type='search'],
.root input[type='email'] {
	font-size: var( --font-body );
	font-family: var( --font-san-serif );
	padding: 0.75rem 0.5rem;
	width: 100%;
	border-radius: 4px;
	background-color: var( --color-white );
	border: 2px solid var( --color-border-dark );
	box-sizing: border-box;
}

.root input[type='text']:focus,
.root input[type='search']:focus,
.root input[type='email']:focus {
	background-color: var( --color-white );
	border: 2px solid var( --color-primary );
	outline: none;
}

.root input[type='radio'],
.root input[type='checkbox'] {
	accent-color: var( --color-primary );
}

.root button {
	font-size: var( --font-body );
	border: none;
	padding: 0.75rem 1.5rem;
	font-family: var( --font-san-serif );

	/* These are overrides of conflicting production CSS collisions */
	-webkit-box-shadow: initial;
	box-shadow: initial;
	border-radius: initial;
	-webkit-border-radius: initial;
	height: inherit;
	line-height: initial;
	font-weight: initial;
	zoom: initial;
	vertical-align: initial;
	text-align: initial;
}

.root button:focus-visible,
.root input[type='button']:focus-visible,
.root input[type='submit']:focus-visible {
	outline: revert;
}

.root input[type='radio']:focus-visible,
.root input[type='checkbox']:focus-visible {
	outline: revert;
}

/*
These are generic enough that it feels like overkill to make a new component just for these button styles.
So, we'll enable a global class option. 
*/

.root button.primaryButton {
	color: var( --color-white );
	background-color: var( --color-primary );
	border-radius: 2px;
}

.root button.primaryButton:hover {
	background-color: var( --color-primary-dark );
}

.root button.primaryButton:active {
	background-color: var( --color-primary-extra-dark );
}

.root button.primaryButton:focus-visible {
	outline-offset: 2px;
}

.root input code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.screenReaderOnly {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
