@import './variables.css';

body {
	margin: 0;
	font-family: var( --font-san-serif );
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var( --color-text-primary );
	font-size: var( --font-body );
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var( --color-text-primary );
	font-weight: 700;
}

input[type='text'],
input[type='search'],
input[type='email'] {
	font-size: var( --font-body );
	font-family: var( --font-san-serif );
	padding: 0.75rem 0.5rem;
	width: 100%;
	border-radius: 4px;
	background-color: var( --color-white );
	border: 2px solid var( --color-border-dark );
	box-sizing: border-box;
}

input[type='text']:focus,
input[type='search']:focus,
input[type='email']:focus {
	background-color: var( --color-white );
	border: 2px solid var( --color-primary );
	outline: none;
}

input[type='radio'],
input[type='checkbox'] {
	accent-color: var( --color-primary );
}

button {
	font-size: var( --font-body );
	border: none;
	padding: 0.75rem 1.5rem;
	font-family: var( --font-san-serif );
}

/*
These are generic enough that it feels like overkill to make a new component just for these button styles.
So, we'll enable a global class option. 
*/

button.primaryButton {
	color: var( --color-white );
	background-color: var( --color-primary );
	font-weight: 500;
	border-radius: 4px;
}

button.primaryButton:hover {
	background-color: var( --color-primary-dark );
}

button.primaryButton:active {
	background-color: var( --color-primary-extra-dark );
}

input code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.screenReaderOnly {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
