:root {
	--color-primary: #0675c4; /* Automattic Blue 50 */
	--color-primary-dark: #02395c; /* Automattic Blue 80 */
	--color-primary-light: #68b3e8; /* Automattic Blue 20 */
	--color-primary-extra-light: #bbe0fa; /* Automattic Blue 5 */
	--color-accent: #c9356e; /* Automattic Pink 50 */
	--color-neutral: #edeff0;
	--color-error: #d63638; /* Automattic Red 50 */
	--color-success: #008a20; /* Automattic Green 50 */
	--color-white: #ffffff;

	--color-border: #c3c4c7;

	--color-text-primary: #2c3338;
	--color-text-dark: #101517;
	--color-text-light: #50575e;
	--color-text-inverted: #ffffff;
}
