@import './colors.css';

:root {
	/* Colors */
	--color-primary: var( --blue );
	--color-primary-light: var( --light-blue-300 );
	--color-primary-lighter: var( --light-blue-200 );
	--color-primary-lightest: var( --light-blue-100 );
	--color-primary-dark: var( --dark-blue-100 );
	--color-primary-darker: var( --dark-blue-200 );

	--color-neutral: var( --gray-100 );
	--color-neutral-light: var( --light-gray-200 );
	--color-neutral-dark: var( --gray-700 );

	--color-error: var( --red );
	--color-success: var( --green );
	--color-success-light: var( --light-green-200 );
	--color-success-lighter: var( --light-green-100 );

	--color-issue-open: var( --green );
	--color-issue-closed: var( --purple );

	--color-white: var( --white );

	--color-border: var( --gray-400 );
	--color-border-dark: var( --gray-700 );

	--color-shaded-background: var( --light-gray-200 );
	--color-shaded-background-light: var( --light-gray-100 );

	--color-text: var( --gray-900 );

	/* Font */
	--font-san-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, sans-serif;
	--font-serif: Georgia, 'Times New Roman', Times, serif;

	--font-header: 1.25rem;
	--font-body: 1rem;
	--font-body-small: 0.875rem;
	--font-body-extra-small: 0.75rem;
}
