@import '../variables.css';

.flowContainer {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.stepContainer {
	width: 100%;
	border: 1px solid var( --color-border );
	border-radius: 6px;
}

.stepHeaderRow {
	display: flex;
	align-items: center;
	min-height: 2.5rem;
	padding: 0.5rem 1.5rem 0.5rem 1rem;
	justify-content: space-between;
}

.stepHeader {
	display: flex;
	align-items: center;
	margin: 0;
}

.stepNumberWrapper,
.checkmarkWrapper {
	border-radius: 1rem;
	margin-right: 0.5rem;
	width: 2rem;
	height: 2rem;
	text-align: center;
}

.stepNumberWrapper {
	background-color: var( --color-neutral-dark );
}

.checkmarkWrapper {
	background-color: var( --color-success );
}

.stepNumber,
.checkmark {
	display: block;
	color: var( --color-white );
	font-size: var( --font-header );
	transform: translateY( 0.125rem );
	font-weight: 400;
}

.stepHeaderTitle {
	font-size: var( --font-header );
	color: var( --color-text-primary );
	font-weight: 500;
}

.stepContent {
	padding: 1rem 1.5rem;
	background-color: var( --color-shaded-background );
	border-radius: 0 0 4px 4px;
}

button.editButton {
	color: var( --color-primary );
	background-color: transparent;
	padding: 0;
}

button.editButton:hover,
button.editButton:active {
	color: var( --color-primary-dark );
}

.completedContentHeader {
	font-size: var( --font-body );
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0.25rem;
}

.completedContentValue {
	font-size: var( --font-body );
	font-weight: 300;
	margin: 0;
}

.completedContentWrapper {
	margin-bottom: 1.5rem;
}
